In [1]:
# FOR LOOPS WITH APPEND METHOD: it could be time consuming
import pandas as pd
import numpy as np

# create dataframe
set1 = {"name":["kasiobu","Konadu", "Obi", "ruth", "Bob"],
       "age": [24, 40, 29, 19, 51]}
df = pd.DataFrame(set1)

### LOOPS

In [2]:
# Using loops with append method
name = df.name
new_name = []

for n in name:
    if n.islower():
        n = n.capitalize()
    else:
        n = n.capitalize()
    new_name.append(n)
    
name = new_name
print(name)

['Kasiobu', 'Konadu', 'Obi', 'Ruth', 'Bob']

In [3]:
# FOR LOOPS

# assign the value in the name column of the dataset to name
name = df.name

# store the new names here
new_name = []

# for each row in the column name
for i in name:
    # convert each character to uppercase
    i = i.upper()
    # add the newly data to new_name
    new_name.append(i)
# name is equal to new_name    
name = new_name
#print the function
print(name)

['KASIOBU', 'KONADU', 'OBI', 'RUTH', 'BOB']

#### LIST COMPREHENSION METHOD

In [4]:
# LIST COMPREHENSION METHOD:
names = df.name
nem = [name.upper() for name in names]

#print(nem)

#print table and add a new column with the new name in "nem"
df['Cap_Name'] = pd.Series(nem)
df

      name  age Cap_Name
0  kasiobu   24  KASIOBU
1   Konadu   40   KONADU
2      Obi   29      OBI
3     ruth   19     RUTH
4      Bob   51      BOB

#### CONDITIONAL STATEMENT (Boolean) vs LOOPS

In [5]:
# USING APPEND METHOD

set2 = {"name":["Kasiobu","Konadu", "Obi", "Ruth", "Bob"],
       "age": [24, 40, 29, 17, 51],
       "answer":[True, True, False, False, False]}

dfbool = pd.DataFrame(set2)

In [6]:
#
answers = dfbool.answer
new_ans = []

for b in answers:
    if b == True:
        new_ans.append(1) 
    else:
        new_ans.append(0)

# print(new_ans)
dfbool['new_ans'] = pd.Series(new_ans)
#dfbool

In [7]:
# # USING LIST COMPREHENSION METHOD FOR BOOLEAN 
new_answers = [1 if a == True else 0 for a in dfbool.answer]
new_answers

[1, 1, 0, 0, 0]

In [8]:
# List comprehension
rate_age = ["teenager" if a < 18 else "youth" if a < 40 else "adult" for a in dfbool.age]

# convert pandas series to numpy array
age = np.array(rate_age)

# convert back to pandas series
dfbool['age_group'] = pd.Series(rate_age) 
dfbool

      name  age  answer  new_ans age_group
0  Kasiobu   24    True        1     youth
1   Konadu   40    True        1     adult
2      Obi   29   False        0     youth
3     Ruth   17   False        0  teenager
4      Bob   51   False        0     adult

In [9]:
# Loops statement and append method
rate_age = []
for a in dfbool.age:
    if a < 18:
        rate_age.append("teenager")
    elif a < 40:
        rate_age.append("youth")
    else:
        rate_age.append("adult")
dfbool['age_group'] = pd.Series(rate_age)
# dfbool

In [10]:
#  NUMPY METHOD


# convert pandas series to numpy array
age = np.array(dfbool.age) 

 # use vectorized conditional statements
rate_age = np.where(age < 18, "teenager", np.where(age < 40, "youth", "adult")) 

# convert back to pandas series
dfbool['age_group'] = pd.Series(rate_age) 
#dfbool

In [11]:
data = dfbool.copy()

In [12]:
df1 = data[['name', 'age', 'new_ans', 'age_group']]

df1.rename(columns={
    'new_ans':'rating'}, inplace = True
)

df1

C:\Users\peace\AppData\Local\Temp\ipykernel_12948\2494440143.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={

      name  age  rating age_group
0  Kasiobu   24       1     youth
1   Konadu   40       1     adult
2      Obi   29       0     youth
3     Ruth   17       0  teenager
4      Bob   51       0     adult

#### STRING MANIPULATION WITH LIST COMPREHENSION

In [13]:
# STRING MANIPULATION
my_string = "GlobalWarmingIsADiseaseToTheWorld"

mani_string = [i for i in my_string]

print(mani_string)

['G', 'l', 'o', 'b', 'a', 'l', 'W', 'a', 'r', 'm', 'i', 'n', 'g', 'I', 's', 'A', 'D', 'i', 's', 'e', 'a', 's', 'e', 'T', 'o', 'T', 'h', 'e', 'W', 'o', 'r', 'l', 'd']

In [14]:
# Create an empty string and join it together 
# to connect our character together

mani_string = "".join([i for i in my_string])

print(mani_string)

GlobalWarmingIsADiseaseToTheWorld

In [15]:
# Modify the original string

mani_string = "".join(
    # if i (character) is in lowercase do nothing. If not, concatenate a space in front of i
    [i if i.islower() else " " + i for i in my_string]
)[1:]# store the items from index 1

print(mani_string)

Global Warming Is A Disease To The World

In [29]:
# Now replace the Capital letters except the else if statement "ACTION" "CONDITION"

mani_string = "".join(
    [i if i.islower() else " " + i.lower() if i in ["W", "I", "A", "D", "T", "T"] else " " + i for i in my_string]
)[1:]

print(mani_string)

Global warming is a disease to the world

In [17]:
# Replace "a disease" with "progressive". Note, this can replace a bunch of world.

mani_string = "".join(
    [i if i.islower() else " " + "progressive" if i in ["A Disease"] else " " + i for i in my_string]
)[1:]

print(mani_string)

Global Warming Is progressive progressiveisease To The World

# DICTIONARY COMPREHENSION

In [18]:
# create dictionary
my_dic = {"plagiar": "book", "pointill": "drawing", "social": "politics", "activ": "philanthropist", "organ": "living things"}
 
# Concatinate the each string to have "ism"
# add each key (example social and organ) and "ism"
# Example of KEY plagiar
# Example of value is book
my_dict = {key + "ism" : None for key in my_dic}
print(my_dict)

{'plagiarism': None, 'pointillism': None, 'socialism': None, 'activism': None, 'organism': None}

In [19]:
my_dict1 = {key + "ism" : val for (key, val) in my_dic.items()}
print(my_dict1)

{'plagiarism': 'book', 'pointillism': 'drawing', 'socialism': 'politics', 'activism': 'philanthropist', 'organism': 'living things'}

In [20]:
# Concatenate the string "ism" to each of the keys when they are not equal to social. Ortherwise replace the key "social" with politicism
my_dict2 = {
    (key + "ism" if key !=  "social" else "politicism"): 
    val for (key, val) in my_dic.items()
}
print(my_dict2)

{'plagiarism': 'book', 'pointillism': 'drawing', 'politicism': 'politics', 'activism': 'philanthropist', 'organism': 'living things'}

In [21]:
# Concatenate the string "ism" to each of the keys when they are not equal to social. Ortherwise replace the key "social" with politicism
# store values when they're not equal to book. otherwise replace with article.
my_dict2 = {
    (key + "ism" if key !=  "social" else "politicism"): 
    (val if val != "book" else "article") 
    for (key, val) in my_dic.items()
}
print(my_dict2)

{'plagiarism': 'article', 'pointillism': 'drawing', 'politicism': 'politics', 'activism': 'philanthropist', 'organism': 'living things'}

# Complex Data Structure DNA

In [22]:
import random
import string

dna = ["A", "T","C", "G"]
rand = random.choices(dna, k=7)
print(rand)

['G', 'A', 'C', 'T', 'T', 'C', 'G']

##### Create DNA Sequence

In [23]:
# Using Loop 
dna1 = {}
for idx, d in enumerate(rand):
    if d == "A":
        d2 = "T"
    elif d == "T":
        d2 = "A"
    elif d == "C":
        d2 = "G"
    elif d == "G":
        d2 = "C"
    else:
        d2 = "A"
    dna1[idx] = [d, d2]
#dna1
df = pd.Series(dna1)
df.head(3)

0    [G, C]
1    [A, T]
2    [C, G]
dtype: object

In [24]:
# Using the Dictionary comprehension method
dna2 = {key:[val, ("T" if val == "A" else "A" if val == "T" else "C" if val == "G" else "G")] 
        for (key, val) in enumerate (rand)}
dna2

{0: ['G', 'C'],
 1: ['A', 'T'],
 2: ['C', 'G'],
 3: ['T', 'A'],
 4: ['T', 'A'],
 5: ['C', 'G'],
 6: ['G', 'C']}

##### Dictionary Comprehension

###### create users and generate password inside list dictionary

In [28]:
# List of Dictionary
keys = ["id", "username", "password"]
users = ["Kash9993", "Wisdom392"]

# Create a dictionary inside a list and assign each key a none value.
# data = [{key: None for key in keys} for i in range(len(users))]
# print(data)

#Create a dictionary inside a list and assign each key a username value.
data1 = [{key:(i if key == "id" else users[i] if key == "username" else None) for key in keys} for i in range(len(users))]

print(data1)

[{'id': 0, 'username': 'Kash9993', 'password': None}, {'id': 1, 'username': 'Wisdom392', 'password': None}]

In [26]:
passw = "".join(random.choices(string.printable, k=12))
passw

'k&@haf7nPQ|E'

In [27]:
# Now replace the None place holder with the password command

data1 = [{key:(i if key == "id" else users[i] if key == "username" else "".join(random.choices(string.printable, k=12))
) for key in keys} for i in range(len(users))]

print(data1)

[{'id': 0, 'username': 'Kash9993', 'password': '?CM2~D7)c:[)'}, {'id': 1, 'username': 'Wisdom392', 'password': 'q?@"3ue06F\x0c-'}]

### IT'S IMPORTANT TO NOTE:
    List and Dictionary comprehension are quicker to use, however Loops may be easier to underdstand as most people are familiar with it. 
    The major disadvantage of using the list and dictionary comprehension method lies within a teamwork. This is because
    some people may not be familiar with the method. Having known this, it's important to use method that is suitable to and your work.